<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.3.0/luxon.min.js" integrity="sha512-KKbQg5o92MwtJKR9sfm/HkREzfyzNMiKPIQ7i7SZOxwEdiNCm4Svayn2DBq7MKEdrqPJUOSIpy1v6PpFlCQ0YA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="./js/main.js"></script>
    <title>Boolzapp</title>
</head>
    <body>
        <!-- START CONTAINER FOR VUE.JS -->
        <div id="app">

            <!-- START CONTAINER APP -->
            <div class="container d-flex flex-row">
                <!-- SIDEBAR -->
                <div class="row d-flex flex-column width-30 gx-0">

                    <div class="gx-0">
                        <ul class="list-group list-group-flush border">
                            <!-- USER -->
                            <li class="list-group-item d-flex flex-between p-0">
                                <div class="d-flex flex-row img bg-grey p-3">
                                    <img src="./img/avatar_io.jpg" alt="me">
                                    <h5>Sofia</h5>
                                </div>
                                <div class="d-flex flex-row justify-content-end bg-grey p-3">
                                    <button type="button" class="btn btn-link">
                                        <i class="fa-solid fa-circle-notch fa-lg"></i>
                                    </button>
                                    <button type="button" class="btn btn-link">
                                        <i class="fa-solid fa-message fa-lg"></i>
                                    </button>
                                    <button type="button" class="btn btn-link">
                                        <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
                                    </button>
                                </div>
                            </li>
                            <!-- END USER -->

                            <!-- NOTIFICATION -->
                            <li class="list-group-item d-flex p-0">
                                <div class="d-flex flex-row  bg-blue p-3">
                                    <span class="bell"><i class="fa-solid fa-bell-slash fa-xl"></i></span>
                                    <div class="d-flex flex-wrap">
                                        <span>Ricevi notifiche di nuovi messaggi</span>
                                        <a href="#">Attiva notifiche desktop</a>
                                    </div>
                                </div>
                            </li>
                            <!-- END NOTIFICATION -->

                            <!-- SEARCH CONTACTS -->
                            <li class="list-group-item d-flex">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat" v-model="search" @input="searchChat()">
                                </div>
                            </li>
                            <!-- END SEARCH CONTACTS -->
                        </ul>
                    </div>
                    
                    <!-- CONTACTS LIST -->
                    <div class="col gx-0 overflow">
                        <ul class="list-group list-group-flush border">
                            <li class="list" v-for="(contact, index) in contacts" @click="clickChat(index)" :class="contact.visible ? 'block' : 'none'">
                                <div class="d-flex">
                                    <img class="avatar" :src="contact.avatar" alt="avatar">
                                    <div class="user d-flex flex-column">
                                        <h5>{{ contact.name }}</h5>
                                        <p>Ultimo messaggio inviato</p>
                                    </div>
                                    <p class="date-chat">12:00</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- END CONTACTS LIST -->

                </div>
                <!-- END SIDEBAR -->

                <!-- MENU' -->
                <div class="row d-flex flex-column width-70 gx-0">

                    <!-- CURRENT USER -->
                    <div class="gx-0">
                        <ul class="list-group list-group-flush border">
                            <li class="list-group-item d-flex flex-between p-0">
                                <div class="d-flex flex-row avatar-img bg-grey">
                                    <img :src="contacts[active_chat].avatar" alt="Avatar">
                                    <div class="user d-flex flex-column">
                                        <h5>{{ contacts[active_chat].name }}</h5>
                                        <p>Ultimo accesso alle ore 12:00</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-row justify-content-end bg-grey p-3">
                                    <button type="button" class="btn btn-link">
                                        <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                                    </button>
                                    <button type="button" class="btn btn-link">
                                        <i class="fa-solid fa-paperclip fa-lg"></i>
                                    </button>
                                    <button type="button" class="btn btn-link">
                                        <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- END CURRENT USER -->

                    <!-- CHAT -->
                    <div class="col d-flex flex-column bg-image border">
                        <div v-for="(message, index) in contacts[active_chat].messages">
                            <div v-if="message.status == 'sent'">
                                <div class="d-flex justify-content-end">
                                    <div class="send">
                                        <p class="text">{{ message.message }}</p>                                    
                                        <p class="date">{{ message.date }}</p>
                                    </div>
                                </div>
                            </div>
    
                            <div v-else>
                                <div class="d-flex justify-content-start">
                                    <div class="received">
                                        <p class="text">{{ message.message }}</p>
                                        <p class="date">{{ message.date }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END CHAT -->

                    <!-- SEND MESSAGES -->
                    <div class="border my-3">
                        <div class="input-group">
                            <button type="button" class="btn btn-link">
                                <i class="fa-solid fa-face-smile fa-xl"></i>
                            </button>
                            <input type="text" class="form-control" placeholder="Scrivi un messaggio" v-model="text" @keyup.enter="addMessage(index)">
                            <button type="button" class="btn btn-link">
                                <i class="fa-solid fa-microphone fa-xl"></i>
                            </button>
                        </div>
                    </div>
                    <!-- END SEND MESSAGES -->
                </div>
                <!-- END MENU' -->
            </div>
            <!-- END CONTAINER APP -->
        </div>
        <!-- END CONTAINER FOR VUE.JS -->
    </body>
</html>